<section>
    <h2>Search results for: "{{searchStr}}"</h2>
    <div class="spacer">
        {{#if articles}}
        <ul>
            {{#each articles}}
            <li>
                <a href="/article/{{id}}">{{title}}</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div>Not matching</div>
        {{/if}}
    </div>
</section>